body,
html {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0 !important;
}

#navbar {
    position: fixed;
    padding-left: 10px;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.black-title,
.subtitle {
    font-weight: 900;
}

.pb-0 {
    padding-bottom: 0;
}

.content {
    height: 100%;
    overflow-x: hidden;
}

.social-icons {
    justify-content: center;
}
/* Header */
.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    justify-content: space-between;
}

/* Menu */

.menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    flex-direction: column;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}
.menu .item {
    padding: 0.6rem;
    text-align: center;
    cursor: pointer;
}
.menu .item a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}
.menu.open {
    padding-top: 80px;
    transform: translateY(0%);
    display: flex;
    padding-bottom: 10px;
}

.menu .item:hover a {
    color: white;
}
.menu .item:hover {
    background: black;
}

/* Menu Icon */
.header .menu-icon {
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: rotate(0deg);
    z-index: 2;
}
.header .menu-icon img {
    width: 50px;
}
.header .menu-icon.open {
    transform: rotate(90deg);
}

.logo-icon {
    margin-right: 30px;
    z-index: 2;
}
.logo-icon img {
    width: 50px;
}

/* Titles */
.black-title {
    background: black;
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
}
.black-title h1 {
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 2em;
    padding-bottom: 20px;
}
.subtitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}
.sub-subtitle {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}
/* Content */
.content-inici {
    margin-top: 10%;
}

#section-inicio {
    height: 80vh;
    width: 100%;
    justify-content: center;
}

.text-bg {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.text-bg h1 {
    font-size: 40px;
}

img.imge-r {
    padding-left: 2%;
    object-fit:contain;
    width: 100%;
    height: auto;
    justify-content: center;
}

.text-right-section {
    padding-top: 10%;
}

.text-al {
    text-align: justify;
}

.text-al p {
    padding: 1%;
    font-size: 18px;
}

#logo-section {
    background: black;
    text-align: center;
    height: 100vh;
    justify-content: center;
    position: relative;
}
#logo-section img {
    max-width: 300px;
}
#logo-section .subtitle {
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
}
.main .section {
    min-height: 200px;
}
.main .section .section-content {
    padding: 2%;

    color: rgba(0, 0, 0, 0.7);
}

/* Gallery */
.gallery-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.gallery {
    margin-top: 20px;
    margin-bottom: 50px;
}
.gallery img {
    display: block;
    height: 400px;
    padding: 20px;
}

.social-icons,
.social-icons-footer {
    display: flex;
}
.social-icons .icon,
.social-icons-footer .icon {
    padding: 20px;
}
.social-icons .icon:first-child {
    padding-left: 0;
}

.social-icons-footer img {
    max-width: 40px;
}
.social-icons-footer .icon {
    padding: 10px;
}

.map-section {
    display: flex;
    justify-content: center;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    flex-direction: column;
    padding: 30px;
}

.disclaimer {
    width: 80%;
    margin-top: 10px;
    font-size: 13px;
    color: white;
    text-align: center;
    font-family: "Roboto Thin";
}

/*CONTACTO*/

.section-padding {
    padding: 45px 0;
}
.section-dark {
    background-color: #f9f9f9;
    z-index: -2;
}
.form-control,
.form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)),
        -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#d2d2d2, #d2d2d2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.form-control::-moz-placeholder,
.form-group .form-control::-moz-placeholder {
    color: #bdbdbd;
    font-weight: 400;
}

.form-control:-ms-input-placeholder,
.form-group .form-control:-ms-input-placeholder {
    color: #bdbdbd;
    font-weight: 400;
}

.form-control::-webkit-input-placeholder,
.form-group .form-control::-webkit-input-placeholder {
    color: #bdbdbd;
    font-weight: 400;
}

.form-control[disabled],
.form-control[readonly],
.form-group .form-control[disabled],
.form-group .form-control[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
    background-color: rgba(0, 0, 0, 0);
}

.form-control[disabled],
.form-group .form-control[disabled],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
    background-image: none;
    border-bottom: 1px dotted #d2d2d2;
}

.form-group {
    position: relative;
    .form-group.label-floating label.control-label,
    .form-group.label-placeholder label.control-label,
    .form-group.label-static label.control-label {
        position: absolute;
        pointer-events: none;
        -webkit-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
        transition: 0.3s ease all;
    }
    .form-group.label-floating label.control-label {
        will-change: left, top, contents;
    }
    .form-group.label-placeholder:not(.is-empty) label.control-label {
        display: none;
    }
    .form-group .help-block {
        position: absolute;
        display: none;
    }
    .form-group.is-focused .form-control {
        outline: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)),
            -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
        background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);
        -webkit-background-size: 100% 2px, 100% 1px;
        background-size: 100% 2px, 100% 1px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    .form-group.is-focused .form-control .material-input:after {
        background-color: #009688;
    }
    .form-group.is-focused label,
    .form-group.is-focused label.control-label {
        color: #009688;
    }
    .form-group.is-focused.label-placeholder label,
    .form-group.is-focused.label-placeholder label.control-label {
        color: #bdbdbd;
    }
    .form-group.is-focused .help-block {
        display: block;
    }
    .form-group.has-warning .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .form-group.has-warning.is-focused .form-control {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5722), to(#ff5722)),
            -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
        background-image: -webkit-linear-gradient(#ff5722, #ff5722), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: -o-linear-gradient(#ff5722, #ff5722), -o-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: linear-gradient(#ff5722, #ff5722), linear-gradient(#d2d2d2, #d2d2d2);
    }
    .form-group.has-warning .help-block,
    .form-group.has-warning label.control-label {
        color: #ff5722;
    }
    .form-group.has-error .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .form-group.has-error .help-block,
    .form-group.has-error label.control-label {
        color: #f44336;
    }
    .form-group.has-success .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .form-group.has-success.is-focused .form-control {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#4caf50), to(#4caf50)),
            -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
        background-image: -webkit-linear-gradient(#4caf50, #4caf50), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: -o-linear-gradient(#4caf50, #4caf50), -o-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#d2d2d2, #d2d2d2);
    }
    .form-group.has-success .help-block,
    .form-group.has-success label.control-label {
        color: #4caf50;
    }
    .form-group.has-info .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .form-group.has-info.is-focused .form-control {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#03a9f4), to(#03a9f4)),
            -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
        background-image: -webkit-linear-gradient(#03a9f4, #03a9f4), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: -o-linear-gradient(#03a9f4, #03a9f4), -o-linear-gradient(#d2d2d2, #d2d2d2);
        background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#d2d2d2, #d2d2d2);
    }
    .form-group.has-info .help-block,
    .form-group.has-info label.control-label {
        color: #03a9f4;
    }
    .form-group textarea {
        resize: none;
    }
    .form-group textarea ~ .form-control-highlight {
        margin-top: -11px;
    }
    .form-group select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .form-group select ~ .material-input:after {
        display: none;
    }
    margin-bottom: 7px;
    .form-control::-moz-placeholder {
        font-size: 16px;
        line-height: 1.42857143;
        color: #bdbdbd;
        font-weight: 400;
    }
    .form-control:-ms-input-placeholder {
        font-size: 16px;
        line-height: 1.42857143;
        color: #bdbdbd;
        font-weight: 400;
    }
    .form-control::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 1.42857143;
        color: #bdbdbd;
        font-weight: 400;
    }
    .checkbox label,
.radio label,
label {
    font-size: 16px;
    line-height: 1.42857143;
    color: #bdbdbd;
    font-weight: 400;
}
label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 16px 0 0 0;
}
}

























.help-block {
    margin-top: 0;
    font-size: 12px;
}

.form-group {
    padding-bottom: 7px;
    margin: 28px 0 0 0;
    .form-control {
        margin-bottom: 7px;
    }
    .form-control::-moz-placeholder {
        font-size: 16px;
        line-height: 1.42857143;
        color: #bdbdbd;
        font-weight: 400;
    }
    .form-control:-ms-input-placeholder {
        font-size: 16px;
        line-height: 1.42857143;
        color: #bdbdbd;
        font-weight: 400;
    }
    .form-control::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 1.42857143;
        color: #bdbdbd;
        font-weight: 400;
    }
    .form-group .checkbox label,
    .form-group .radio label,
    .form-group label {
        font-size: 16px;
        line-height: 1.42857143;
        color: #bdbdbd;
        font-weight: 400;
    }
    label.control-label {
        font-size: 12px;
        line-height: 1.07142857;
        font-weight: 400;
        margin: 16px 0 0 0;
    }
    .help-block {
        margin-top: 0;
        font-size: 12px;
    }
    .form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 16px;
    line-height: 1.42857143;
}
.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 16px;
    line-height: 1.42857143;
}
.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 16px;
    line-height: 1.42857143;
}
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label,
.form-group.label-static label.control-label {
    top: -30px;
    left: 0;
    font-size: 12px;
    line-height: 1.07142857;
}
.form-group.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
    top: -30px;
    left: 0;
    font-size: 12px;
    line-height: 1.07142857;
}
.form-group.form-group-sm {
    padding-bottom: 3px;
    margin: 21px 0 0 0;
}
.form-group.form-group-sm .form-control {
    margin-bottom: 3px;
}
.form-group.form-group-sm .form-control::-moz-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #bdbdbd;
    font-weight: 400;
}
.form-group.form-group-sm .form-control:-ms-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #bdbdbd;
    font-weight: 400;
}
.form-group.form-group-sm .form-control::-webkit-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #bdbdbd;
    font-weight: 400;
}
.form-group.form-group-sm .checkbox label,
.form-group.form-group-sm .radio label,
.form-group.form-group-sm label {
    font-size: 11px;
    line-height: 1.5;
    color: #bdbdbd;
    font-weight: 400;
}
.form-group.form-group-sm label.control-label {
    font-size: 9px;
    line-height: 1.125;
    font-weight: 400;
    margin: 16px 0 0 0;
}
.form-group.form-group-sm .help-block {
    margin-top: 0;
    font-size: 9px;
}
.form-group.form-group-sm.label-floating label.control-label,
.form-group.form-group-sm.label-placeholder label.control-label {
    top: -11px;
    font-size: 11px;
    line-height: 1.5;
}
.form-group.form-group-sm.label-floating.is-focused label.control-label,
.form-group.form-group-sm.label-floating:not(.is-empty) label.control-label,
.form-group.form-group-sm.label-static label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125;
}
.form-group.form-group-sm.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125;
}
.form-group.form-group-lg {
    padding-bottom: 9px;
    margin: 30px 0 0 0;
}

.form-group.form-group-lg .form-control {
    margin-bottom: 9px;
}

.form-group.form-group-lg .form-control::-moz-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #bdbdbd;
    font-weight: 400;
}

.form-group.form-group-lg .form-control:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #bdbdbd;
    font-weight: 400;
}

.form-group.form-group-lg .form-control::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #bdbdbd;
    font-weight: 400;
}

.form-group.form-group-lg .checkbox label,
.form-group.form-group-lg .radio label,
.form-group.form-group-lg label {
    font-size: 18px;
    line-height: 1.3333333;
    color: #bdbdbd;
    font-weight: 400;
}

.form-group.form-group-lg label.control-label {
    font-size: 14px;
    line-height: 0.99999998;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.form-group.form-group-lg .help-block {
    margin-top: 0;
    font-size: 14px;
}

.form-group.form-group-lg.label-floating label.control-label,
.form-group.form-group-lg.label-placeholder label.control-label {
    top: -5px;
    font-size: 18px;
    line-height: 1.3333333;
}

.form-group.form-group-lg.label-floating.is-focused label.control-label,
.form-group.form-group-lg.label-floating:not(.is-empty) label.control-label,
.form-group.form-group-lg.label-static label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: 0.99999998;
}

.form-group.form-group-lg.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: 0.99999998;
}

select.form-control {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.form-group.is-focused select.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #d2d2d2;
}

.form-group.is-focused select.form-control[multiple],
select.form-control[multiple] {
    height: 85px;
}

.input-group-btn .btn {
    margin: 0 0 7px 0;
}

.form-group.form-group-sm .input-group-btn .btn {
    margin: 0 0 3px 0;
}

.form-group.form-group-lg .input-group-btn .btn {
    margin: 0 0 9px 0;
}

.input-group .input-group-btn {
    padding: 0 12px;
}

.input-group .input-group-addon {
    border: 0;
    background: 0 0;
}

.form-group input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.contact-widget-section .single-contact-widget {
    background: #f9f9f9;
    padding: 20px 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    height: 260px;
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
}

.contact-widget-section .single-contact-widget i {
    font-size: 75px;
}

.contact-widget-section .single-contact-widget h3 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px;
}

.contact-widget-section .single-contact-widget p {
    line-height: 16px;
}

.contact-widget-section .single-contact-widget:hover {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
}

#contactForm {
    margin-top: -10px;
    .form-group label.control-label {
        color: #8c8c8c;
    }
    .form-control {
        font-weight: 500;
        height: auto;
    }
}

.text-al {
    .text {
        background-color: black;
        h1 {
            color: white;
        }
    }
    h3 {
        color: white;
    }
    .text-r {
        color: rgba(255, 255, 255, 0.733);
    }
}

.footer {
    .btn-cssbuttons {
        --btn-color: #0a0311;
        position: relative;
        padding: 16px 32px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        color: white;
        background: none;
        border: none;
        outline: none;
        overflow: hidden;
        cursor: pointer;
        -webkit-filter: drop-shadow(0 2px 8px rgba(10, 2, 37, 0.32));
        filter: drop-shadow(0 2px 8px rgba(10, 2, 37, 0.32));
        -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .btn-cssbuttons::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: var(--btn-color);
        border-radius: 24px;
        -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .btn-cssbuttons span,
    .btn-cssbuttons span span {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
        -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .btn-cssbuttons span {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    .btn-cssbuttons span:first-child {
        padding-right: 7px;
    }

    .btn-cssbuttons span span {
        margin-left: 8px;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .btn-cssbuttons ul {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .btn-cssbuttons ul li {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .btn-cssbuttons ul li a {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
        -webkit-transform: translateY(55px);
        -ms-transform: translateY(55px);
        transform: translateY(55px);
        -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .btn-cssbuttons ul li a:hover {
        opacity: 0.5;
    }

    .btn-cssbuttons:hover::before {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .btn-cssbuttons:hover span,
    .btn-cssbuttons:hover span span {
        -webkit-transform: translateY(-55px);
        -ms-transform: translateY(-55px);
        transform: translateY(-55px);
    }

    .btn-cssbuttons:hover ul li a {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .btn-cssbuttons:hover ul li:nth-child(1) a {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    .btn-cssbuttons:hover ul li:nth-child(2) a {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .btn-cssbuttons:hover ul li:nth-child(3) a {
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s;
    }
}

@media screen and (max-width: 570px) {
    #section-inicio {
        height: 100vh;
    }
    .content-inici {
        margin-top: 30%;
    }
    .subtitle {
        font-size: 40px;
    }
    .sub-subtitle {
        font-size: 30px;
    }
    .text-al h3 {
        padding-left: 20px;
    }

    .text-al p {
        font-size: 16px;
        text-align: justify;
    }

    .cards-service {
        padding-bottom: 10%;
        .card-title {
            text-transform: uppercase;
        }
        .card-img-top {
            width: 100px;
        }
        .card {
            text-align: center;
            justify-content: center;
            display: block;
            padding: 10px;
        }
    }
}


.text-rig {
    .text h1 {
        color: white;
        font-weight: 700;
        padding: 20px;
    }
    .text-al {
        padding: 5%;
        padding-bottom: 2%;
    }
    .text-al h3 {
        color: black;
        font-weight: 700;
    }
    .text-r {
        color: black;
        font-weight: 500;
    }
}
.cards-service {
    padding: 50px;
    padding-bottom: 10%;
    .card-title {
        text-transform: uppercase;
    }
    .card-img-top {
        width: 100px;
    }

    .card {
        text-align: center;
        justify-content: center;
        display: block;
        height: 250px;
    }
}


section{
    padding: 50px 0;
}

/*	gallery */


img {
    max-width: 100%;
  }
  
  figure {
    margin: 0;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  figure a {
    color: black;
    text-decoration: none;
  }
  
  figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
  }
  
  .container-masonry {
    column-count: 4;
    column-gap: 10px;
  }
  @media screen and (max-width: 570px) {
    .container-responsive {
        display: grid;
    
    }
  }
  



.gallery_product{
    margin: 0px;
	padding:0;
	position:relative;
    width: 70%;
    height: 80%;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
}

.img-responsive {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.img-responsive2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}